@charset "utf-8";

:root {
	--purple: #937ce5;
}

*{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background: whitesmoke;
	font-size: 1rem;
}

#wrapper{
	overflow: hidden;
	border-radius: 5px;
	background: #fff;
	margin: auto;
	width: 500px;
	-webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
	box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
	margin-top: 10%;
}
.container{
	width: 100%;
}

label {
	color: #727272;
	font-weight: bold;
}

input,select {
	display: block;
	width: 100%;
	position: relative;
	box-sizing:border-box; 
	padding: 15px 10px;
	margin-top: 5px;
	color: #727272;
}

input::placeholder {
	color: #bdbdbd;
}

#containerinput{
	margin: 0 15px;
	position: relative;
	padding: 15px 0;
}

.container{
	display: flex;
	width: 100%;
	flex-direction: row;
	padding: 15px;
}

.container label {
	width: 45%;
	position: relative;
}

.container label:last-child {
	margin-left: 15px;
}

button {
	display: block;
	padding: 15px;
	background: var(--purple);
	color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 3px;
	width: 100%;
	cursor: pointer;
	transition: 0.3s;
	font-size: 1rem;
	border: 2px solid var(--purple);
}

button:hover {
	-webkit-box-shadow: 0 0 10px 5px rgba(44, 115, 148, 0.1);
	box-shadow: 0 0 10px 5px rgba(44, 115, 148, 0.1);
	border: 2px solid #745fc0;
}

#outer {
	text-align: right;
	background: var(--purple);
	color: #fff;
	padding: 40px 20px;
	font-size: 3rem;
	min-height: 50px;
}

#sizer {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.5);
}

.hint {
	background: #f3f3f3;
	color: #727272;
	border: 1px solid #d6d6d6;
	padding: 15px;
	margin: 15px 15px 30px 15px;
	font-size: 1rem;
}