:root{
    --stn-color:#2b468b;
    --darker-stn-color:#1f61db;
    --grey: #73767c;
    --hint:#5d5d5d;
    --user-color:#2f44b0;
    --border:0px;
    --border-sm:0px;
    --border-lg:3px;
    --delete-c:#E94B50;
    --edit-c:#f4b05b; 
    --dark-grey: #7c7c7c;
    --lightgrey: #b4b8c0;
    --divider: #D1DCF0;
	--green: #2ea44f;
    --red: #FF4452;
    --link: #91cecf;

    /*Fonts*/
    --noto: 'Source Sans Pro', sans-serif;
}
